@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
    // background: #d3d3d3;
    background-image: linear-gradient(#fe7763, #fc3a5d);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}
