.pokemon-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .pokemon-card-cont {
        padding: 10px;
        height: 500px;
        width: 300px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: #fff;
        border-radius: 10px;
        margin-right: 50px;
    }
    .pokemon-card {
        border: 2px solid;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pokemon-title {
            text-transform: uppercase;
        }
        .poke-img-cont {
            margin-top: 50px;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .pokemon-type {
            text-transform: uppercase;
        }
    }
    .poke-details {
        justify-content: space-evenly;
        .stats-cont {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .stats-title {
                text-transform: uppercase;
                font-weight: 800;
                margin: 10px 0;
                b {
                    color: orangered;
                }
            }
            .stats-bar {
                width: 80%;
                height: 15px;
                background-color: rgba(0, 0, 0, 0.3);
                .stats-bar-inner {
                    display: inline-block;
                    height: 100%;
                    background-image: linear-gradient(to right, #fe7763, #fc3a5d);
                }
            }
        }
    }
}
